img{
    max-width: 100%;
    display: block;
    max-height: 140px;
    /* transform: translate(0, 20%); */
}

.mg-contents{
    background-image: url('images/thepark.jpg');
}
.mg-tile{
    height: 150px;
    /* width: 10%; */
    perspective: 500px;
    /* border: 2px solid black; */
    display: inline-block;
    margin-top: 20px;
    background-color: white;

}

.mg-tile-inner{
    width: 100px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .5s ease;
}

.mg-tile-front, .mg-tile-back{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid red;
    backface-visibility: hidden;
}

.mg-tile-front{
    transform: rotateY(180deg);
    width: 100px;
    height: 150px;
    background-size: contain;
}

.mg-tile-back{
    background: url('images/regularshow.jpg') no-repeat;
    width: 100px;
    height: 150px;
    background-size: contain;
    background-position: center;
}

.mg-tile-inner.flip{
    transform: rotateY(-180deg);
}

.background-clear{
    background-color: transparent;
}

.matched{
    background-color: #bcffcc;
}
